
<link rel="stylesheet" href="/css/users.css">

<h1>Codeial | Profile page</h1>



<!-- if user matches then show the form -->
<% if(user.id == profile_user.id){ %>

    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="your name..." value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="your email..." value="<%= profile_user.email %>" required>
        <input type="submit" value="update">
    </form>
<!-- else only show profile info -->
<% } else {%>

    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

<% } %>